    <%= form_tag("/heatmap", method: "get", enforce_utf8: false) do %>
      <table>

    <tr>
  <td><%= label_tag(:batter, "Batter:") %></td>
  <td><%= select_tag(:batter, options_for_select(player_names), { multiple: false, include_blank: true }) %></td>
  <td><%= label_tag(:pitcher, "Pitcher:") %></td>
  <td><%= select_tag(:pitcher, options_for_select(player_names), { multiple: false, include_blank: true }) %></td>
  <td><%= label_tag(:pitch_type, "Pitch Type:") %></td>
  <td><%= select_tag(:pitch_type, options_for_select(Event.pitch_type_strs.keys), { multiple: false, include_blank: true }) %></td>
  </tr>
  <tr>
  <td><%= label_tag(:bat_side, "Batting Side:") %></td>
  <td><%= select_tag(:bat_side, options_for_select(Event.hands.keys), { multiple: false, include_blank: true }) %></td>
  <td><%= label_tag(:pitch_hand, "Pitcher Hand:") %></td>
  <td><%= select_tag(:pitch_hand, options_for_select(Event.hands.keys), { multiple: false, include_blank: true }) %></td>
  <td><%= label_tag(:game_year, "Game Year:") %></td>
  <td><%= number_field_tag(:game_year) %></td>
  </tr>
  <tr>
  <td><%= submit_tag("Search", class: "buton", type: "button", name: nil) %></td>
  </tr>
  </table>

<% end %>
  <div class="heatmapWrapper">
      <div>
      <p style="text-align: center">Balls In Play</p>
      <p style="text-align: center">Number of Events Tracked: <%= @events.count(:px) %></p>
    <div class="heatmapContainer" id="heatmap">
      <%= javascript_tag do %>
      // determine what the max heatmap value should be
      var events_count = <%= @events.count(:px) %>;
      var max_count;
      var radius
      if (events_count <= 50) {
      max_count = 2.3;
      radius = 40;
      } else if (events_count >= 400)  {
      radius = 20;
      max_count = 3.5;
      }
      else {
      radius = 30;
      max_count = 4.5;
      }
      // create configuration object
      var height = document.getElementsByClassName('heatmapContainer')[0].clientHeight;
      var width = document.getElementsByClassName('heatmapContainer')[0].clientWidth;
      var config = {
      container: document.getElementById('heatmap'),
      height: height,
      width: width,
      radius: radius,
      maxOpacity: .5,
      minOpacity: 0,
      gradient:{ 0.333: "#0000FF", 0.600: "#00FFFF", 0.7500: "#00FF00", 0.93: "#FFFF00", 0.97: "#ff8d00", 0.99: "#FF0000"},
      };
      // create heatmap with configuration
      var heatmapInstance = h337.create(config);
      var data = {
      max: max_count,
      min: 0,
      data: [
      <% @events.try(:each) do |event| %>
      { x: <%= event.px.to_json.html_safe %>*100+width/2
      , y: <%= event.pz.to_json.html_safe %>*-100+height/.87
      , value: <%= event.event_count.to_json.html_safe %> },
      <% end %>
      ]
      };
      heatmapInstance.setData(data);
      <% end %>
      <canvas id="strike-zone" height="400" width="400">
        <%= javascript_tag do %>
        var height = document.getElementsByClassName('heatmapContainer')[0].clientHeight;
        var width = document.getElementsByClassName('heatmapContainer')[0].clientWidth;
        var c = document.getElementById("strike-zone");
        var ctx = c.getContext("2d");
        ctx.beginPath();
        ctx.moveTo((-1*100+width/2), 3.5*-100+height/.87);
        ctx.lineTo((1*100+width/2), 3.5*-100+height/.87);
        ctx.lineTo((1*100+width/2), 1.2*-100+height/.87);
        ctx.lineTo((-1*100+width/2), 1.2*-100+height/.87);
        ctx.lineTo((-1*100+width/2), 3.5*-100+height/.87);
        ctx.stroke();
        <% end %>
      </canvas>
    </div>
  </div>
    <div>
      <p style="text-align: center">Swing & Miss</p>
      <p style="text-align: center">Number of Events Tracked: <%= @swings.count(:px) %></p>
    <div class="heatmapContainer" id="swings">
      <%= javascript_tag do %>
      // determine what the max heatmap value should be
      var swing_count = <%= @swings.count(:px) %>;
      var max_count;
      var radius;
      if (swing_count <= 20) {
      max_count = 1.2;
      radius = 35;
      } else if (swing_count >= 150) {
      max_count = 2.2;
      radius = 35;
      } else {
      max_count = 1.7;
      radius = 40;
      }
      // create configuration object
      var height = document.getElementsByClassName('heatmapContainer')[0].clientHeight;
      var width = document.getElementsByClassName('heatmapContainer')[0].clientWidth;
      var config = {
      container: document.getElementById('swings'),
      height: height,
      width: width,
      radius: radius,
      maxOpacity: .5,
      minOpacity: 0,
      gradient:{ 0.333: "#0000FF", 0.600: "#00FFFF", 0.7500: "#00FF00", 0.93: "#FFFF00", 0.97: "#ff8d00", 0.99: "#FF0000"},
      };
      // create heatmap with configuration
      var heatmapInstance = h337.create(config);
      var data = {
      max: max_count,
      min: 0,
      data: [
      <% @swings.try(:each) do |event| %>
      { x: <%= event.px.to_json.html_safe %>*100+width/2
      , y: <%= event.pz.to_json.html_safe %>*-100+height/.87
      , value: 1 },
      <% end %>
      ]
      };
      heatmapInstance.setData(data);
      <% end %>
      <canvas id="swing-zone" height="400" width="400">
        <%= javascript_tag do %>
        var height = document.getElementsByClassName('heatmapContainer')[0].clientHeight;
        var width = document.getElementsByClassName('heatmapContainer')[0].clientWidth;
        var c = document.getElementById("swing-zone");
        var ctx = c.getContext("2d");
        ctx.beginPath();
        ctx.moveTo((-1*100+width/2), 3.5*-100+height/.87);
        ctx.lineTo((1*100+width/2), 3.5*-100+height/.87);
        ctx.lineTo((1*100+width/2), 1.2*-100+height/.87);
        ctx.lineTo((-1*100+width/2), 1.2*-100+height/.87);
        ctx.lineTo((-1*100+width/2), 3.5*-100+height/.87);
        ctx.stroke();
        <% end %>
      </canvas>
    </div>
  </div>
  </div>